PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/my_ecommerce_db

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Kashier Payment Gateway
KASHIER_MODE=test
KASHIER_MERCHANT_ID=your_merchant_id_here
KASHIER_API_KEY=your_kashier_api_key_here
KASHIER_WEBHOOK_MAC_SECRET=your_kashier_webhook_secret_here

# Nodemailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=