MONGO_URI=mongodb+srv://ammar:YDjTheWFOEdrdhJm@cluster0.46liojw.mongodb.net/ecommerce
JWT_SECRET=any_random_string_here_123
JWT_EXPIRES_IN=90d

# Nodemialer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=